/* Styling specific to the database descriptions only */
div.db_desc_left {
  clear: both;
  width: 18%;
  float: left;
  text-align: right;
}
div.db_desc_right {
  width: 80%;
  float: right
}

/*START styling for the Funder section*/
#db_thanksto .pad-top {padding-top:30px}
#db_thanksto .pad-right {
  float:left;
  padding-right:30px
}
#db_thanksto #funder-img {float:left}
/*END styling for the Funder section*/

/*START connect 'buttons' on database description pages */
.restricted_note {overflow:auto}
#connect {
  float: left;
  padding: 0 2%
}
#connect_button{
  background: #36404e;
  border-color: #1859B7;
  text-shadow: 0 1px 1px #001B38;
  color: #FFF;
  position: relative;
  font-size: 14px;
  margin-top: 0;
  border-radius: 5px;
  font-family: 'Montserrat','Segoe UI','Century Gothic',Verdana,sans-serif;
  font-weight: 400;
  padding: 5px 10px
}
#connect_button:hover {border:none}
/*END connect 'buttons' on database description pages */