/* General form styles for www.libraries */

/* change inline labels to be displayed on own line (better to set label display to be above)
.webform-container-inline label {
  display: block;
  margin-right: 1em;
}
*/

/*accessible color for the required asterisk */
.marker,
.form-required {color:#cc0033}

/* all p and li's in form..may need more elements  */
.field-name-body p,
.field-name-body li {
  font-weight:400;
  color:#555555
}

.form-item{margin-top: 1em}

/*override hr rules in global and omega-text*/
.hr{
  margin-top:0px;
  margin-bottom:0px
}

/*override rules in system.theme.css*/
.form-checkboxes .form-item {
  margin-top:10px;
  margin-bottom:-15px
}

legend {
  font-size:28px;
  color:#333;
  margin-left:-18px;
  min-width:450px;
  height:1.5em;
  margin-bottom:-26px
}

/* START code from iamkate.com - custom graphics for checkboxes and readio selects*/
input[type=radio]:not(old) {
  margin:0;
  padding:0;
  opacity:0
}
input[type=radio]:not(old) + label {
  display:inline-block;
  margin-left:-4px;
  padding-left:28px;
  background:url('../images/radioImages.png') no-repeat 0 0;
  line-height:24px
}
input[type=checkbox]:not(old) {
  width:0px;
  margin:0;
  padding:0;
  opacity:0
}
input[type=checkbox]:not(old) + label {
  display:inline-block;
  margin-left:-4px;
  padding-left:28px;
  background:url('../images/checkboxImages.png') no-repeat 0 0;  
  line-height:24px;
  margin-bottom:10px
}
input[type=checkbox]:not(old):checked + label {background-position:0 -24px}
input[type=radio]:not(old):checked + label {background-position:0 -48px}
/* END code from iamkate.com - custom graphics for checkboxes and readio selects*/

.fieldset-legend {
  font-size:1em;
  margin-left:16px;
  margin-bottom:16px;  
  display:block;
  font-weight:700;
}
.fieldset-wrapper {
  margin-top: 24px;
  margin-bottom:24px
}

.webform-client-form p {color:#333333}

label {
  color:#333333;
  font-weight:500;
  display:block;
  margin-bottom: 0.1em;
  font-family:'Montserrat','Segoe UI','Century Gothic',Verdana,sans-serif
}

.option {
  color:#333333;
  font-weight:500;
  display:block;
  font-family: 'Quattrocento Sans', Candara, 'Gill Sans', Optima, Helvetica, sans-serif
}

/*START submit button styling*/
#edit-actions {
  display: block;
  width: 9em
}
#edit-submit, #submitButton {
  background: #36404e;
  border-color: #1859B7;
  text-shadow: 0 1px 1px #001B38;
  color: #FFF;
  width: 7em;
  height: 2.5em;
  position: relative;
  font-size: 16px
}
/*END submit button styling */

fieldset.collapsible {background:none;}
fieldset.collapsible legend {
  background:none;
  background-color:none;
  box-shadow:none
}
fieldset.collapsible legend span.fieldset-legend a.fieldset-title {
  display:block;
  margin-top:-6px
}
fieldset.collapsed {background:none}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  /* Safari and Chrome */
  .form-select {padding-right: 1em}
}

input.form-radio {
  position:relative;
  height: 18px;
  padding: 4px;
  border: 1px solid #555555;
  -webkit-appearance: none;
  border-radius: 100%
}

label.option {
  padding-left:1em;
  font-weight:500
}

textarea,
select,
input[type="date"],
input[type="datetime"],
input[type="datetime-local"],
input[type="email"],
input[type="month"],
input[type="number"],
input[type="password"],
input[type="search"],
input[type="tel"],
input[type="text"],
input[type="time"],
input[type="url"],
input[type="week"] {
  -moz-border-bottom-colors: none;
  -moz-border-left-colors: none;
  -moz-border-right-colors: none;
  -moz-border-top-colors: none;
  -moz-box-sizing: border-box;
  background-clip: padding-box;
  background-color: #fff;
  border-color: #c1c1c1;
  border-image: none;
  border-radius: 0;
  border-style: solid;
  border-width: 1px;
  color: #555555;
  font-family: 'Quattrocento Sans', Candara, 'Gill Sans', Optima, Helvetica, sans-serif;
  font-size: 16px;
  outline: 0 none;
  padding: 2px 3px;
  min-height:2.5em
}

.form-textarea-wrapper textarea {
  width:100%;
  display:inline;
}

/*  fixes post refresh dec 20 2017*/
.grippie {display:none}
.tips, 
.description {font-size:1em}

/*START reserves form - for the click to show link - really a collapsed fieldset*/
#webform-client-form-2372 #webform-component-contact-us .fieldset-title {
  font-size: 16px;
  margin-left: -1em
}
#webform-client-form-2372 #webform-component-contact-us legend span.fieldset-legend {
  height:0;
  background-position:5px 40%
}
/*END reserves form - for the click to show link - really a collapsed fieldset*/

/*START large format printing request form (/scc/large_format_printing)*/
/* hide upload button..multi ajax attempts results in captcha error. files get uploaded upon submit anyhow 
also make wider since hid upload button to show more of the file name */
#webform-client-form-3073 .form-managed-file .ajax-processed {display:none}
#webform-client-form-3073 .form-managed-file .form-file {width:100%}
/*edge specific fix*/
@supports (-ms-ime-align: auto) {
  #webform-client-form-3073 .form-managed-file .form-file {width:auto}
}
/*END large format printing request form (/scc/large_format_printing)*/