/*Styles for the search tabs*/

#tContainer {
  background:none;
  border-top-right-radius:5px;
  border-top-left-radius:5px;
  padding:0px 0px 19px;
  border:none;
  height:1.5em
}
#tContainer ul  {
  list-style-type:none;
  text-align:left;
  margin:0;
  padding:0;
  float:left
}
#tContainer li  {
  background-color:#ecf0f4;
  border:1px solid #d8d8d8;
  border-bottom:none;
  border-top-right-radius:3px;
  border-top-left-radius:3px;
  cursor:pointer;
  display:inline;
  margin: 3px 3px 0 0;
  padding: 10px 7px;
  position:relative;
  font-size:16px;
  height:19px;
  display:inline-block;
}
#tContainer li.picked {
  background:#fcfcfc;
  border-top:1px solid #36404e;
  border-left:1px solid #36404e;
  border-right:1px solid #36404e;
  font-weight:700;
  padding-bottom:11px
}
#tContainer li.art {margin-left:0px;}
#tContainer li.health {margin-right:0px;}
#tContainer li.health.picked {
  padding:3px 10px 4px 11px;
  box-shadow:none
}
.con  {
  height:133px;
  background:#fcfcfc;
  border:1px solid #36404e;
  border-radius:3px;
  display:none;
  width:580px
}
.con.art {
  border-top-left-radius:0;
  display:block;
}
.input, .input[type="text"]{
  font-size:16px;
  font-family: 'Quattrocento Sans', Candara, 'Gill Sans', Optima, Helvetica, sans-serif
}
.input.noFocus  {
  color:#222;
  font-family: 'Quattrocento Sans', Candara, 'Gill Sans', Optima, Helvetica, sans-serif
}
.input.straight {
  color:#000000;
  font-style:normal
}
.content  {
  margin-bottom:10px;
  width:100%
}
.content.cat  {
  margin-top:16px;
  font-weight:bold
}
.content.art  {
  margin-top:16px;
  font-weight:bold
}
.content.jou  {
  margin-top:16px;
  font-weight:bold
}
.content.media {
  margin-top:16px;
  font-weight:bold
}
.content.reserves {
  margin-top:16px;
  font-weight:bold
}
.advanced {
  margin:10px 20px 0 20px;
  overflow:auto
}
.advanced a {font-size:16px}
.reserves .advanced {margin-top:44px}
#view-all-db,
#cat-more-options,
.ebsco_link {
  margin-top:10px;
  margin-right:5px;
  float:left
}
.shiny.large  {
  background: #36404e;
  text-shadow: none;
  border-radius: 3px;
  padding: 5px 15px 3px;
  margin-left: 8px;
  font-family: 'Quattrocento Sans', Candara, 'Gill Sans', Optima, Helvetica, sans-serif;
  font-size:16px;
  font-weight:400;
  color:#fff;
}
.what,
.what-home  {float:right}
.what-icon-q  {
  width:28px;
  height:28px;
  background-image:url("../images/help.svg");
  cursor:help;
  margin-top:5px
}
.what-content {
  text-align:left;
  font-size:1em;
  font-weight:normal;
  border:1px solid #c1c1c7;
  position:absolute;
  background-color:#ffffff;
  margin:25px 0 0 -510px;
  padding:5px;
  display:none;
  z-index:10
}
.what-content P {width:400px}
.what-quicksearch-content {margin:-146px 0 5px -442px}
.what-cat-content {margin:-98px 0 5px -442px}
.what-rjournals-content,
.what-reserves-content {margin:-122px 0 5px -442px}
.hint {
  text-align:left;
  font-size:1em;
  font-weight:normal;
  border:1px solid #c1c1c7;
  position:absolute;
  background-color:#f2f2f2;
  padding:5px;
  display:none;
  z-index:1000;
  margin: 10px 0 0 5px;
  white-space:nowrap;
}
.hint.art     {margin-left:40px}
.hint.books   {margin-left:80px}
.hint.journals{margin-left:155px}
.hint.media   {margin-left:230px}
.hint.reserves{margin-left:330px}

.what-content P {width:430px}
#dbgroup,
#srchfield1,
#srchfield2,
#mediasearch,
#reserve-filter {
  width:40%;
  font-size:16px;
  line-height:24px;
  font-family: 'Quattrocento Sans', Candara, 'Gill Sans', Optima, Helvetica, sans-serif;
  color:#4d4d4d;
  background-color:#fff;
  padding-left:0
}
.search-input-bottom {margin-top:5px}
.con form {margin:0 30px 0 20px}
.ru_restricted {
  float:left;
  margin-top:10px
}
.ru_restricted img {width:24px}
.ru_restricted a:nth-child(2):hover {border:none}
label[for=ebscohostsearchtext],
label[for=dbgroup],
label[for=inputCat],
label[for=srchfield1],
label[for=srchfield2],
label[for=inputJournals],
label[for=reserve-filter],
label[for=inputReserves] {
  display:none;
  visibility:hidden
}
#ebscohostsearchtext,
#inputCat,
#inputJournals,
#inputReserves {width:78%}
.legacy_catalog_link {
  float:left;
  margin-top:10px;  
  margin-left:20px;
  line-height:0px;
  width:1px
}
.legacy_catalog_link a {
  font-size:12px;
  line-height:15px
}
::-webkit-input-placeholder{color:#222}
:-moz-placeholder{color:#222;opacity:1}
::-moz-placeholder{color:#222;opacity:1}
:-ms-input-placeholder{color:#222}
select:focus,
input:focus {box-shadow:none}
.ui-menu .ui-menu-item a{
  font-family: 'Quattrocento Sans', Candara, 'Gill Sans', Optima, Helvetica, sans-serif;
  font-size: 16px
}

@media (-webkit-min-device-pixel-ratio: 0) {
  select {
    -webkit-appearance:menulist;
    background-image:none;
    padding:0
  }
}