/**STYLES FOR THE LIBRARY FRONT PAGE (home) **/
.field-items a:link {border-bottom:none}
.field-items a:hover {border-bottom:1px solid #0754cc}
#front-page-site-search-label {display:none}
td {
  border:none;
  padding:0
}
table {
  font-family: 'Quattrocento Sans', Candara, 'Gill Sans', Optima, Helvetica, sans-serif;
  border-collapse:collapse
}
#region-front-page-right{margin:0 4%}
#zone-top-menu {margin-top:0 !important}
#zone-content {padding-top:0}
/* #zone-content-bottom {margin-top:30px} */
.block {margin-bottom:1.5em}
.content {margin-bottom:0}

/** Styling for block titles (h2.block-title) and headlines.
  * Overrides global h2 and h3 styling.
*/
h2.block-title {
  border:none;
  background:none;
  padding-left:0;
  margin-bottom:10px
}
#block-views-featured-collection-block-3 h2.block-title,
h2.block-title .main-title {
  font-weight:700;
  font-size:16px
}
h3 {
  margin:0;
  padding:0.5em .5em 0.5em 0.5em;
  border-top:1px solid #ccc;
  background-color:#f2f2f2;
  font-weight:400
}

/** START News block **/
#news-archive a {font-family: 'Quattrocento Sans', Candara, 'Gill Sans', Optima, Helvetica, sans-serif;font-size:16px}
.views-field-field-front-page-news-image .field-content a img,
.views-field-field-featured-collection-image img {
  width:100%;
  height:auto
}
.views-slideshow-cycle-main-frame-row {width:100% !important}
.views-slideshow-cycle-main-frame-row .views-field-title {margin-bottom:20px}
.views-slideshow-cycle-main-frame-row .views-field-alias .field-content {background-color:#fff}
.front-page-news-block .views-slideshow-cycle-main-frame {height:460px !important}
.front-page-news-block .views-slideshow-controls-bottom {
  float: right;
  margin-top: -15px;
  margin-right:10px;
  position: relative;
  z-index:100
}
.front-page-news-block .views-slideshow-controls-text-previous a,
.front-page-news-block .views-slideshow-controls-text-next a {
  background: url(../images/clearpix.gif);
  height: 150px;
  width: 50px;
  position:absolute;
  z-index: 10;
  white-space:nowrap;
  text-indent: -9999px;
  text-transform: uppercase
}
.front-page-news-block .views-slideshow-controls-text-previous a:hover,
.front-page-news-block .views-slideshow-controls-text-next a:hover {border:none}
.front-page-news-block .views-slideshow-controls-text-previous a {
  background-position: 0 50px;
  background-image: url(../images/ArrowLeft1.svg);
  background-repeat: no-repeat;
  width:40px
}
.front-page-news-block .views-slideshow-controls-text-next a  {
  background-position: 0 50px;
  background-image: url(../images/ArrowRight1.svg);
  background-repeat: no-repeat;
  width:40px
}
_:-ms-input-placeholder, :root .front-page-news-block .views-slideshow-controls-text-previous a,
_:-ms-input-placeholder, :root .front-page-news-block .views-slideshow-controls-text-next a  {background-position:0 0}
.front-page-news-block .views-slideshow-controls-text-previous  {
  float: left;
  width: auto;
  position: relative;
  top: -410px;
  left: -90vw
}
.front-page-news-block .views-slideshow-controls-text-next {
  float: left;
  width: auto;
  position: relative;
  top: -410px;
  right: 30px
}
.front-page-news-block .views-slideshow-controls-text-pause {display:none}
/** END News block **/

/**START Today's hours block**/
.today-hours {
  margin-bottom:0 !important;
  padding: 0.2em 0 !important
}
#all-hours {
  font-size: 16px;
  font-weight:400
}
#all-hours a {font-family: 'Quattrocento Sans', Candara, 'Gill Sans', Optima, Helvetica, sans-serif}
#hours-block, #hours-table {
  color:#D83D0E;
  border-collapse:separate;
  border-spacing:10px 5px;
  margin-bottom:0
}
.hours-location{
  margin:6px 0 6px 10px;
  overflow:auto
}
.hours-link {
  text-align:right;
  float:left;
  width:109px
}
.hours-link a:link,
.hours-link a:visited {color:#000}
.hours-link a:hover {border-bottom:1px solid #000}
.loc-hours {
  color:#D83D0E;
  float:left;
  margin-left:10px;
  max-width:140px
}
#hours-table tr:nth-child(odd),
#hours-table tr:nth-child(odd) td {
  background-color:#fff;
  padding:0;
  border:none
}
#hours-table tr:nth-child(even),
#hours-table tr:nth-child(even) td {
  background-color:#fff;
  padding:0;
  border:none
}
#hours-table tr td:first-child {
  text-align:right;
  width:109px
}
#hours-table tr td:first-child a:link,
#hours-table tr td:first-child a:visited {color:#000}
#hours-table tr td:first-child a:hover {border-bottom:1px solid #000}
#block-block-50 {margin-bottom:0}
/**END Today's hours block**/

/**START Resources & Services block**/
.resources-services-left,
.resources-services-right {margin-top:7px}
.resources-services-left h2.block-title,
.resources-services-right h2.block-title {
  font-weight:700;
  font-size:16px
}
.resources-services-left ul,
.resources-services-right ul {margin-bottom:0}
.resources-services-left ul li,
.resources-services-right ul li {
  list-style:none;
  margin-bottom:3px
}
.resources-services-left ul li:last-child,
.resources-services-right ul li:last-child {margin-bottom:0}
/**END Resources & Services block**/

/**START Exhibits & Collections block**/
#region-front-page-bottom-center {margin-top:3px}
.views-field-field-featured-coll-image-cap {font-style:italic}
.view-id-featured_collection .views-field-title {margin-bottom:20px}
.view-id-featured_collection .views-field-body .field-content {background-color:#fff}
/**END Exhibits & Collections block**/

/**START What's Happening block**/
#all-events a {font-family: 'Quattrocento Sans', Candara, 'Gill Sans', Optima, Helvetica, sans-serif;font-size:16px}
.whats-happening-block .views-row {margin-bottom:20px}
.whats-happening-block .views-field-php-1,
.whats-happening-block .views-field-php {
  font-size:0.875em;
  line-height:1.5em
}
/**END What's Happeneing block**/

/*START flexing up the hours block so that it shows first in mobile; this is overrriden in the layouts css for desktop*/
#zone-content {
  display:flex;
  flex-direction:column
}
#region-front-page-right{order:1}
#region-front-page-left {order:2}
/*END flexing up the hours block so that it shows first in mobile*/

/*narrow*/
@media all and (min-width: 740px) and (min-device-width: 740px), (max-device-width: 800px) and (min-width: 740px) and (orientation:landscape) {
  #zone-content-bottom {margin-top:30px}
  .logo-img {
    margin:0 !important;
    margin-bottom:-10px !important
  }
  #logo {
    margin-top:-21px !important;
    margin-bottom:-5px !important
  }
  #region-front-page-right {margin:0}
  .front-page-news-block .views-slideshow-controls-text-previous {top:-445px;left:-180px}
  .front-page-news-block .views-slideshow-controls-text-next {top:-445px;right:30px}
  .hours-location {margin:6px 0 0 0}
  .loc-hours {width:100px}
}
/*normal*/
@media all and (min-width: 980px) and (min-device-width: 980px), all and (max-device-width: 1024px) and (min-width: 1024px) and (orientation:landscape) {
  .views-field-field-front-page-news-image 
  .field-content a img, 
  .views-field-field-featured-collection-image img {
    width:260px;
    height:200px
  }
  .front-page-news-block .views-slideshow-controls-text-previous {top:-410px;left:-250px}
  .front-page-news-block .views-slideshow-controls-text-next {top:-410px;right:30px}
  .hours-location{
    margin:6px 0 6px 10px;
    overflow:auto
  }
  .loc-hours {width:140px}

}
/*wide*/
@media all and (min-width: 1220px) {
  .front-page-news-block .views-slideshow-controls-text-previous {left:-320px}
  .front-page-news-block .views-slideshow-controls-text-next {right:100px}
}