/* This file will hold styles for the wit7-www.libraries */
/* This also can include ANY global CSS that applies site-wide. Unless overwritten by a more specific style rule, CSS declarations in global.css will apply site-wide. */
html {
  overflow-y:scroll;
  overflow-x:hidden
}
body {
  text-rendering:optimizeLegibility;
  font-family: 'Quattrocento Sans', Candara, 'Gill Sans', Optima, Helvetica, sans-serif;
  color:#222;
  font-size:100%;
  line-height:1.5em;
  margin:0;
  padding:0;
}
#section-content {margin:0 10px}

#region-menu {margin-left:0}

/*START Header section*/
#section-header {background-color:#36404e}
#zone-header-menu {display:none}
#logo {
  width:100%;
  clip-path:inset(0 0 0 14%);
  margin-left:-12%
}
/*END Header section*/

/*START Hours/My Account/Ask US menu*/
#region-right-menu {
  margin:0;
  height:35px;
}
#region-right-menu ul#hours-account-aal {
  /* float:left; */
  margin:5px 0 0 20vw;
  margin:0 0 0 20vw;
  /* height:29px; */
  /* width:100% */
}
#hours-account-aal {white-space:nowrap}
#hours-account-aal li a {
  color:#fff;
  text-decoration:none;
  font-size:16px;
  background:#36404e;
}
/* #hours-account-aal li:last-child a {background:#d83d0e} */
#region-right-menu li {
  display: inline;
  list-style-type: none;
  padding:0 0 0 10px;
}
#region-right-menu li:nth-child(1) {
  padding:0 5vw;
  padding:0;
  display:inline-block;
  width:16vw;
  margin-left:6vw
}
#region-right-menu li:nth-child(2) {
  border-style:solid;
  border-color:#fff;
  border-width:0 1px;
  padding:7px 5vw;
  padding:5px 0 5px 5vw;
  display:inline-block;
  width:27vw
}
#region-right-menu li:last-child {
  padding: 8px 5vw 6px;
  margin: -4px;
  border-right: 1px solid white;
}
#region-right-menu li:last-child,
#region-right-menu li:last-child a{
  background: #d83d0c;
  display: inline-block;
  padding: 0;
  width: 18vw;
  padding-left: 3vw;  
}
#region-right-menu li:last-child a {
  padding-top:5px;
  padding-bottom:3px
}
#region-right-menu li img{vertical-align:middle;display:none}
#region-right-menu li a:hover {border:none}
#region-right-menu .content {
  margin:0;
  width:auto;
  /* background:linear-gradient(90deg, transparent 69%, #d83d0e 69%); */
  height:38px;
  /* margin-top:-3px; */
  border-top:1px solid #fff
}
/*END Hours/My Account/Ask US menu*/

/*START responsive menu*/
.responsive-menus.responsified span.toggler {
	float:left;
	box-shadow:none;
	background:#cc0033;
	border-radius:0px;
	/* width: 10%; */
  width:20vw;
	font-size:16px;
	height:26px;
	/* padding: 2px 16px 0 0.5em; */
  /* padding: 2px 25px 2px; */
  /* padding: 2px 5% 2px; */
  border-width:1px 1px 0 0;
  border-style:solid;
  border-color:#fff;
  padding-top:5px;
}
.responsive-menus.responsified .responsive-menus-simple {background:#cc0033}
.responsive-menus.responsified {clear:none; height: 0px;float: left;margin-top: -33px}
.responsive-menus.responsified.responsive-toggled.absolute .responsive-menus-simple {margin-top: 27px}
#zone-top-menu {height: 1.8em; background: #36404e;height:33px}
/*END responsive menu*/

/*START Links stylying*/
a:link, a:visited {
  color:#0754cc;
  text-decoration:none;
}
a:hover {
  color:#0754cc;
  border-bottom:1px solid #0754cc;
  padding-bottom:0
}
p a:link,
li a:link,
.add-link-border {border-bottom:1px solid #0754cc}
#block-menu-menu-top-header-right-menu a:link,
#region-top-right-menu a:link, /*top right link*/
.mmContentUL li a:link, /*mega menu*/
.descriptive-page-right-box-content a:link,
.descriptive-page-right-box-nav-content a:link,
li a[href^="#"], /*all jump links*/
.date-nav li a:link,
.no-link-border a:link,
.no-link-border li a:link {border-bottom:none}
.descriptive-page-right-box-nav-content a:hover,
.no-link-border a:hover,
.no-link-border li a:hover {border-bottom:1px solid #0754cc}
a[href^=tel],
p a[href^=tel] {
  color:#000;
  border-bottom:none
}
a[href^=tel]:hover {
  color:#000;
  border-bottom:1px solid #000;
}
/*END Links styling*/

p, dl, hr, h1, h2, h3, h4, h5, h6, ol, ul, pre, table, address, fieldset {
  margin-bottom: 24px;
}
/*--- HEADINGS ---*/
h1, h2, h3, h4, h5, h6 {
  font-weight: 400;
  letter-spacing:0;
  font-family: 'Montserrat', 'Segoe UI', 'Century Gothic', Verdana, sans-serif;
  color:#222;
  line-height:normal
}
h2.main-title {
  font-size:16px;
  font-weight:700
}
p, ul, blockquote, pre, td, th, label {
  margin: 0;
  font-size:1em;
  line-height: 1.5em;
  margin-bottom: 1.5em;
}
p.small {
  margin: 0;
  font-size: 0.9230769230769231em;
  line-height: 1.5em;
  margin-bottom: 1.5em;
}
sup {
  font-size:.8em;
  height:0;
  line-height:1;
  vertical-align:baseline;
  _vertical-align: bottom;
  position: relative;
  bottom: 1ex;
}
table {
  border-collapse: collapse;
  margin-bottom: 1.5em;
}

blockquote {
  margin:2em 4em;
  color:#444;
}  /* sjm jun 22, 2015 for matt news; changed oct 3 2016 for mak */

/* also changed oct 3 2016 for mak */
blockquote p {line-height:1.8em;}

hr {
  background:#CCCCCC;
  clear:both;
}

/* general styles  */
DIV.indent-5  {margin-left:5px;}
DIV.indent-25 {margin-left:25px;}
P.hang     {text-indent:-3em;margin-left:3em;}
.alert     {color:#cc0033;font-weight:700;}
.ruleTop   {width:98%;float:left;clear:left;}
.backToTop {margin-top:-15px;float:left;margin:-11px;}

/* descriptive blocks are the floating set of blocks as on the _main_ researchers page */
div.descriptive-block            {width:218px;height:220px;margin-left:10px;margin-right:10px;border:1px solid #CCC;float:left;position:relative;}
div.descriptive-block  h2        {border:0px;border-bottom:1px solid #CCC;}
div.descriptive-block div.logo   {padding:10px;float:right;}
div.descriptive-block-text       {width:210px;padding:.5em;}
div.descriptive-block-more       {position:absolute;top:200px;width:220px;}
div.descriptive-block-more DIV.more-link {padding:0 30px 0 20px;}
div.descriptive-block-leftmost   {margin-left:0px;}
div.descriptive-block-rightmost  {margin-right:0px}
div.descriptive-block-top-row    {margin-top:0;}
div.descriptive-block-bottom-row {margin-top:1.5em;margin-bottom:1.5em;}

/* right column for pages that don't have custom template for right columns */
DIV.descriptive-page-right-col                           {width:300px;float:right;margin-left:20px;}
DIV.descriptive-page-right-box-nav                       {margin-bottom:24px;padding:15px;border:1px solid #ccc;}
/*DIV.descriptive-page-right-box-nav H2.plain              {background-color:transparent;border:0;padding-left:0;}*/
DIV.descriptive-page-right-box-nav-content               {border:0px solid #CCC;border-top:none;padding:0}
DIV.descriptive-page-right-box-nav-content UL            {margin-left:-1.2em;margin-bottom:0;padding-top:0}
DIV.descriptive-page-right-box-nav-content UL LI         {list-style:none outside none}
DIV.descriptive-page-right-box-nav-content UL LI.current {font-weight:700;}
DIV.descriptive-page-right-box-nav-content UL LI.last    {border-bottom:none;}

DIV.descriptive-page-right-box-content  P.last           {margin-bottom:0}
DIV.descriptive-page-right-box-content UL                {margin-bottom:0}

.descriptive-page-right-box {
  border:1px solid #ccc;
  padding:15px;
  margin-bottom:24px;
}
.descriptive-page-right-box-nav h2.block-title,
.descriptive-page-right-box h2.block-title {
  background:none;
  border:none;
  padding:0;
  font-size:16px;
  font-weight:700;
  margin-bottom:1em;
}

/* for medical campus page*/
A:hover.campus{color:#CC0000;}
A:active.campus{color:#CC0000;}

/* yl 2-21-13 - table styling */
table {
  border:none;
  width:100%;
  border-collapse:separate;
  border-spacing:2px 0;
  font-family: 'Quattrocento Sans', Candara, 'Gill Sans', Optima, Helvetica, sans-serif;
}
/* yl 2-22-13 - styling for the label that appears above the column headers */
thead tr th.thead_label {
  background-color:#fff;
  text-align:left;
  color:#222;
  font-family: 'Quattrocento Sans', Candara, 'Gill Sans', Optima, Helvetica, sans-serif;
  font-weight:700;
  font-size:1.1em
}
/* yl 2-22-13 - styling for links that might be in the thead_label */
thead tr th.thead_label a:link,
thead tr th.thead_label a:visited {color:#222}
thead tr th.thead_label a:hover {border-bottom:1px solid #222}
thead th, th {
  text-align:left;
  background:none repeat scroll 0 0 #E6E6E6;
  font-family: 'Quattrocento Sans', Candara, 'Gill Sans', Optima, Helvetica, sans-serif;
  font-weight:700;
  border-bottom:none
}
thead {
  height:2.5em;
  border-top:1px solid #e6e6e6;
  background:#e6e6e6;
}
th.active {
  background: none repeat scroll 0 0 #edf1f7;
  border-left:none;
  border-right:none;
}

/* yl 2-22-13 - positioning for the sorting graphic, if a column is sortable */
th a img {
  margin: 0 0 4px 5px;
}
td.active {
  border-left:1px solid #e6e6e6;
  border-right:1px solid #e6e6e6;
}
/* yl 2-22-13 - active is the color of the column when it is selected (sorted on) */
td.odd td.active {
  background: none repeat scroll 0 0 #edf1f7;
}
td.even td.active {
  background: none repeat scroll 0 0 #edf1f7;
}
td {
  border-left: 1px solid #e6e6e6;
  border-right:1px solid #e6e6e6;
}
.gsc-results-wrapper-nooverlay.gsc-results-wrapper-visible td,
.gsc-control-searchbox-only.gsc-control-searchbox-only-en td {
  border:none;
}
tr:nth-child(odd),
tr.odd {
  background-color: #fff;
  border-bottom: 1px solid #CCCCCC;
  padding: 0.1em 0.6em;
}
tr:nth-child(odd) td,
tr.odd td {
  background-color:#fff;
  border-top:1px solid #f2f2f2;
  border-bottom:1px solid #f2f2f2;
}
tr:nth-child(even),
tr.even {
  background-color: #f2f2f2;
  border-bottom: 1px solid #CCCCCC;
  padding: 0.1em 0.6em;
}
tr:nth-child(even) td,
tr.even td {
  background-color:#f2f2f2;
}
/* changed background to get rid of hover color */
tr:hover td,
tr:nth-child(even):hover td.active,
tr.even:hover td.active,
tr:nth-child(odd):hover td.active,
tr.odd:hover td.active {
  background:none;
}
tr:nth-child(even) td.active,
tr.even td.active {
  background-color:#edf1f7;
  border-top:1px solid #e6e6e6;
  border-bottom:1px solid #e6e6e6;
}
/* yl 2-22-13 - styling specific for the alpha_dir page*/
.view-display-id-page_1 tr.even:hover td.active {
  background-color:#edf1f7;
}
.view-display-id-page_1 tr.odd:hover td.active {
  background-color:#f2f2f2;
}
th.views-field-field-last-name-1 {
  width:20%;
}

/*START styling for the Departmental listing page*/
.dept_dir_address{margin-bottom:1.5em;}
.dept_dir_header, .dept_dir_address {clear:both;}
.dept_dir_name, .dept_listBlock {overflow:hidden;}
.dept_listBlock ul {
  -webkit-column-count:2; /* Chrome, Safari, Opera */
  -moz-column-count:2; /* Firefox */
  column-count:2;
  -webkit-column-gap: 40px; /* Chrome, Safari, Opera */
  -moz-column-gap: 40px; /* Firefox */
  column-gap:40px;
  margin-bottom:20px
}
.dept_dir_table td.name {width:20%}
.dept_dir_table td.email-phone {width:25%}
.dept-phone {width: 115px;height: 25px;}
.dept_dir_name .grid-1 a:hover {border:none}
#iis-back-to-top {float:right;margin:0 40px -20px 0}
/*END styling for the Departmental listing page*/

/* styling specific for the tab page menus */
.tabPage {width:900px;}
.tabPageCol {width:33.3%; float:left;}
.tabPageCol UL LI  {line-height: 1.75em; list-style-type: none;}

/*START footer*/
/* yl 2-28-13 - styling for the footer */
#zone-footer-wrapper {
  padding:10px;
  background:#36404e
}
#zone-footer {
  background:#36404e;
  font-family: 'Quattrocento Sans', Candara, 'Gill Sans', Optima, Helvetica, sans-serif;
  font-size:0.875em; /*14px*/
  line-height:1.5em;
  color:#fff
}
#zone-footer .block {
  margin:0;
}
#zone-footer a:link,
#zone-footer a:visited {color:#fff}
#zone-footer a:hover {border-bottom:1px solid #fff}

.col-headers {
  font-family: 'Montserrat', 'Segoe UI', 'Century Gothic', Verdana, sans-serif;
  font-size:1.14285714286em;
}
#footer-col1 ul li,
#footer-col2 ul li {list-style:none}

#footer-col1 .contact-loc {
  width: 125px;
  display: block;
  float: left;
}
#footer-col2 ul li {margin:0}
.col2_left {
  float:left;
  clear:left;
}
.col2_right {float:right}
.col2_right a:link,
.col2_right a:visited {color:#333}

#footer-col3 ul li a:hover {border:none}
#footer-col3 li {display:inline; list-style:none}
#footer-col3 li:first-child {margin-right:5px}
#footer-col3 li:last-child {margin-left:5px}
#footer-col3 li img {vertical-align:middle}
#col3-top,
#col3-middle,
#col3-bottom,
#col3-last {float:left}
#col3-top {
  padding: 10px;
  background: #d83d0e;
  margin-bottom: 10px;
}
#col3-middle {
  height: 40px;
  margin-top: 10px;
  clear:both
}
#col3-middle ul li:first-child,
#col3-middle ul li:nth-child(2) {margin-right:5px}
#col3-middle img {width:32px;height:32px}
#col3-bottom{clear:both}
#col3-bottom a:hover {border:none}
#col3-last {
  clear:both;
  margin-top:20px
}
#facebook {
  float:left;
  padding: 20px 0 20px 50px;
}
#twitter {
  float:left;
  padding: 20px 5px;
}
#instagram {
  float:left;
  padding: 20px 0px;
}
#facebook img,
#twitter img,
#instagram img {
  width:32px;
  height:32px;
}
#footer_col4 {
  width:217px;
  float:right;
  border-left:1px dashed #ccc;
  padding:18px 0;
  min-height:6.5em;
}
#cic, #btaa {
  float: left;
  margin: 0;
  padding: 11px 0px 11px 5px;
}
#btaa img {width:67px}
#us_dep{
  float:left;
  padding: 10px 0;
}
#vale_icon {
  float:left;
  padding: 10px 10px 10px 15px;
}
#vale_icon img {width:66px}
#zone-footer-bottom-wrapper,
#zone-footer-bottom {background:#28313E;color:#fff;font-size:0.875em;line-height:1.5em}
#zone-footer-top-wrapper,
#zone-footer-top {background:#285e71;color:#fff;font-size:0.875em;line-height:1.5em}
#zone-footer-top .block {margin:0}
#zone-footer-bottom a:link,
#zone-footer-bottom a:visited {color:#fff;border-bottom: 1px solid #fff;}
#zone-footer-bottom a:hover {color:#fff;}
#region-footer-bottom .block {margin-bottom:0}
#region-footer-bottom .content {margin:0 10px 10px;padding-top:10px}
/*END footer*/

/**START Connect with us block - social media bar in footer **/
.connect-with-us {
  font-size:1.14285714286em;
  float:right;
  margin:7px 0
}
.connect-with-us li a:hover {border:none}
.connect-with-us li {
  display:inline;
  list-style:none;
  margin:0 5px
}
.connect-with-us li:first-child {
  display:block;
  float:left;
  margin-top:5px
}
.connect-with-us li:nth-child(2),
.connect-with-us li:nth-child(3) {}
.connect-with-us li:last-child {}
.connect-with-us li img {
  vertical-align:middle;
  height:24px;
  width:24px
}
/**END Connect with us block - social media bar in footer**/

#footer_bottom_left {
  color:#fff;
  font-size:0.75em;
  line-height:1.5em;
}
#footer_bottom_right {
  color:#fff;
  text-align:right;
  font-size:0.875em;
}
#footer_bottom_right a {}
/*mak3--3.13 */
#footer_bottom_center {
  text-align:center;
}
#block-views-alerts-block-1,
#block-views-alerts-block-2 {margin-bottom:0}
/* yl 3-1-13 - styling for the alert message */
#alert_message {
  border-radius:5px;
  border:2px solid #d20134;
  padding:10px;
  background:#e8e6e2;
  color:#000;
  margin-bottom:1.5em;
}
#alert_message p{
  margin-bottom:0;
}
#alert_message a{color:#0032c6;}

#block-block-15 {
  margin-bottom:0;
}

/* Styling of the "more" link */
.more-link {margin-top: -10px;}
.more-link a {
  float: right;
  font-family: 'Quattrocento Sans', Candara, 'Gill Sans', Optima, Helvetica, sans-serif;
  font-size: 0.923077em;
  margin-top: -10px;
  padding: 2px 40px 0;
}

/* START styling for the landing pages */
.landing-page ul,
#library-collections,
#popular-resources,
#services-tools-services,
#services-tools-tools,
#info-for {padding:0}
#library-collections,
#services-tools-services,
#info-for {
  column-count:2;
  column-gap:20px
}
#info-for {
  height:580px;
  column-fill:auto
}
.landing-page ul li,
#library-collections li,
#popular-resources li,
#services-tools-services li,
#services-tools-tools li,
#info-for li {
  list-style:none;
  margin-bottom:24px;
  -webkit-column-break-inside: avoid;
  -moz-column-break-inside: avoid;
  -o-column-break-inside: avoid;
  -ms-column-break-inside: avoid;
  column-break-inside: avoid;
  page-break-inside: avoid
}
.link-heading {
  font-family: 'Montserrat', 'Segoe UI', 'Century Gothic', Verdana, sans-serif;
  font-weight:400;
  font-size:1.076923076923077em;
  line-height:1.392857142857143em;
  padding:0 0 3px 0;
  margin-bottom:0;
  display:block;
}
/* .link-heading a, */
.link-heading-text {
  padding-bottom:5px;
  padding-top:5px
}
.no-left-margin {margin-left:0 !important}
.no-right-margin {margin-right:0 !important}
.no-margins {
  margin-left:0 !important;
  margin-right:0 !important;
}
.landing-page div {margin-bottom:1.5em}
.landing-page-image {text-align:right}
.right_arrow {
  float:right;
  display:none
}
.landing-page h3 {color:#222}
/* END styling for the landing pages */

/*styling for the libraries and centers page and maps and directions page*/
.lib_address {
  margin-top:5px;
  float:left;
}
.lib_pic {
  margin-top:5px;
  float:right;
}
.right_arrow_map {
  float:right;
}
.right_arrow_map img {
  height:21px;
}
.lib_center_info {
  min-height:185px;
}
.lib_center_info,
.campus_info {
  clear: both;
  padding-bottom: 20px;
  margin-bottom: 20px;
  overflow: auto;
}
.campus_info {
  border:1px solid #ccc;
  overflow:hidden;
  margin-bottom:1em;
}
.campus_info .lib_block {
  width:50%;
  float:left;
  min-height:325px;
}
.campus_info .lib_block_info {
  min-height: 325px;
  padding-top: 25px;
  margin-right:5px;
}
.campus_info h2.block-title {
  border:none;
}
.campus_info .lib_name {
  padding:5px;
  font-weight:700;
}
.campus_info .lib_map img {
  margin:0 5px;
  border:2px solid #ccc;
  height:200px;
}
.campus_info .lib_address {
  margin:5px;
}
.campus_info .lib_phone {
  float:left;
  margin:5px 5px 5px 10px;
}
a.campus_map_link {
  margin-left:100px;
  float:right;
}
ul.indented  {
  padding-left:50px;
}

#block-menu-menu-alternate-sub-page-secondar .leaf .my_account {
  font-size:1em;
}
#rusearch {
  height: 18px;
  padding-top:10px;
}
#rusearchbox {
  color: #666666;
  width: 125px;
}
#rusearchbox, #rusearchselect {
  border: 1px solid #666666;
  font-size: 10px;
  font-family: 'Quattrocento Sans', Candara, 'Gill Sans', Optima, Helvetica, sans-serif;
  font-size:1em;
}
#rusearchbutton {
  background: url("../images/search3.png") no-repeat scroll center center transparent;
  border: medium none;
  height: 18px;
  padding: 0;
  text-indent: -9999px;
  width: 22px;
}
/* CSS FOR THE DANA ARCHIVE PAGE (/news/archive/dana) */
.view-id-alternate_front_page_news.view-display-id-page_4 div.view-header {
  float:right;
  width:300px;
}
.view-id-alternate_front_page_news.view-display-id-page_4 div.view-content {
  float:left;
  width:620px;
}

#alpha-list {margin-bottom:20px}
.alpha-link-db {
  margin: 0 5px;
  padding: 5px;
  text-align: center;
}
.alpha-link-db.active {
  border:2px solid #000;
  color:#cc0033;
  font-weight:700;
}

.content object embed {
  width:100%;
  height:500px;
}
.db_art_plus {
  width:70%;
}
.art_plus_table {
  float:left;
  width:75%
}
.yes_check {
  color:#666666;
  font-weight:700;
}
.no_x {
  color:#9e0a2a;
  font-weight:700;
}
.view-display-id-page_2 .views-field-name {width:20%}
.view-display-id-page_2 .views-field-field-monday,
.view-display-id-page_2 .views-field-field-tuesday,
.view-display-id-page_2 .views-field-field-wednesday,
.view-display-id-page_2 .views-field-field-thursday,
.view-display-id-page_2 .views-field-field-friday,
.view-display-id-page_2 .views-field-field-saturday,
.view-display-id-page_2 .views-field-field-sunday {width:11%;}

/*START Quicktabs (dashboard) styling*/
/*yl 9/10/14 quicktabs (dashboard) styling fix to prevent overflow of tabs */
ul.quicktabs-tabs.quicktabs-style-basic {height:auto}
ul.quicktabs-tabs.quicktabs-style-basic li {white-space:inherit; display:inline-block; margin-bottom:-1px;}
ul.quicktabs-tabs.quicktabs-style-basic li.active a {color: #0754cc}
ul.quicktabs-tabs.quicktabs-style-basic a {
  font-family:'Quattrocento Sans', Candara, 'Gill Sans', Optima, Helvetica, sans-serif !important;
  font-size:14px !important;
  border-bottom:none
}
ul.quicktabs-tabs.quicktabs-style-basic a:hover {border-bottom:1px solid #0754cc}
/*END Quicktabs (dashboard) styling*/

/*yl 9/12/14 hours block styling */
#block-views-hours-block-1 .views-row-1 {padding:5px;}

/*yl 10-2-14: hide contact settings from user edit forms */
fieldset#edit-contact {display:none}

/*yl 3/3/15: styling for health ebooks tables*/
.subject-heading, .subject-table {clear:both}

/* field slideshow tutorial styles */
.field-slideshow {margin:1em auto;width:800px;height:600px;padding-bottom:0px !important;padding-right:0px !important;}
.field-slideshow-pager{text-align:center;}
.field-slideshow-pager a{
   display:inline-block;
   color: #0032c6;
   font-size:1em;
   border:1px solid #cccccc;
   padding:5px;
   margin:0 5px;
}
.field-slideshow-pager a.activeSlide{border:0px solid #FFF;font-weight:700;color:#000;}

.field-slideshow-controls .prev {
   display:inline-block;
  width:40px;
  height:36px;
  background-image: url("/sites/default/files/tutorials/left_arrow.png") ;
  background-repeat: no-repeat;
  background-position:0;
  float:left;
  margin-top: -300px;
  margin-left: 126px;
  color:rgba(0, 0, 0, 0);
}
.field-slideshow-controls .next {
  display:inline-block;
  width:40px;
  height:35px;
  background: url("/sites/default/files/tutorials/right_arrow.png");
  background-repeat: no-repeat;
  background-position:0;
  float:right;
  margin-top: -300px;
  margin-right: 126px;
  color:rgba(0, 0, 0, 0);
}

.node-tutorial-slideshow div.content div.field-name-body {
   width:580px;
   margin:auto;
}
.node-tutorial-slideshow div.content div.field-name-field-handout{
   width:580px;
   margin:auto;
}

/*START styles for the faculty-staff directory and faculty directory*/
/*yl 3-20-15; styling for the name search box on the faculty staff directory */
.fac-staff-dir .view-content {overflow-x:auto}
.fac-staff-dir th.views-field-field-last-name-1 a,
.fac-staff-dir th.views-field-mail a,
.fac-staff-dir th.views-field-field-function-title a,
.fac-staff-dir th.views-field-field-department a {border:none}
.fac-staff-dir .sortable img:first-child {margin-bottom:0}
.fac-staff-dir .sortable img:nth-child(2) {margin-left:-13px;margin-bottom:11px}
#fac-staff-search {margin:0 0 20px;width:475px;display:block}
#edit-name-wrapper {margin-right:10px}
#fac-staff-search .views-exposed-form label {
  position:absolute;
  left:-10000px;
  top:auto;
  width:1px;
  height:1px;
  overflow:hidden
}
#fac-staff-search .views-widget {display:inline;margin-left:5px}
#fac-staff-search .views-exposed-form .form-item,
#fac-staff-search .views-exposed-form .form-submit {display: inline;}
#fac-staff-search .views-exposed-form .views-exposed-widget {padding:0.5em 0 0 0}
#fac-staff-search .views-exposed-form .views-exposed-widget .form-submit {
  background: #36404e;
  border-color: #1859B7;
  text-shadow: 0 1px 1px #001B38;
  color: #FFF;
  position: relative;
  font-size: 14px;
  margin-top:0;
  border-radius:5px;
  font-family:'Montserrat','Segoe UI','Century Gothic',Verdana,sans-serif;
  font-weight:400;
  padding:5px 10px
}
#edit-field-event-location-term-und {
  -webkit-column-count: 3; /* Chrome, Safari, Opera */
  -moz-column-count: 3; /* Firefox */
  column-count: 3;
}
/*END styles for the faculty-staff directory and faculty directory*/

/*START styling for indexes and databases page (/indexes)*/
#by-subject ul,
.by-title-alpha ul {
  -webkit-column-count:2; /* Chrome, Safari, Opera */
  -moz-column-count:2; /* Firefox */
  column-count:2;
  -webkit-column-gap: 40px; /* Chrome, Safari, Opera */
  -moz-column-gap: 40px; /* Firefox */
  column-gap: 40px;
  clear:both
}
.by-title-alpha ul li {
  page-break-inside: avoid; /* For Firefox. */
  -webkit-column-break-inside: avoid; /* For Chrome */
  break-inside: avoid;
}
#by-subject ul {white-space:nowrap}
#by-title-alpha-list {clear:both}
#by-subject h2,
#by-title-alpha-list h2 {
  font-family: 'Quattrocento Sans', Candara, 'Gill Sans', Optima, Helvetica, sans-serif;
  font-size:16px;
  font-weight:400;
  line-height:20px
}
#indexes-databases-faq .descriptive-page-right-box {margin: 0 0 1.5em 0}
#indexes-databases-faq .descriptive-page-right-box-content ul {margin-left:20px;padding-left:0}

/*styling for the listnav autogenerated alpha list*/
ul#indexes {padding:0}
ul#indexes > li {list-style:none}
#indexes-nav {margin-bottom:20px}
#indexes .listNavHide{display:none}
#indexes .listNavShow{display:list-item}
#indexes hr.listNavShow {display:block}
#indexes-nav .letterCountShow{display:block}
#indexes-nav .ln-letters a{
  border-right:none;
  text-decoration:none;
  margin:0 5px;
  padding:5px;
  text-align: center;
}
#indexes-nav .ln-letters a:hover {padding-bottom:0}
#indexes-nav .ln-letters a.ln-selected:hover{padding-bottom:5px}
#indexes-nav .ln-letters .ln-selected {
  border:2px solid #000;
  color:#cc0033;
  font-weight:700;
}
#indexes-nav .ln-letters .ln-disabled{color:#ccc}
#indexes-nav .ln-letter-count{
  position:absolute;
  top:0;
  left:0;
  width:20px;
  text-align:center;
  font-size:0.8em;
  line-height:1.35;
  color:#336699
}
.no-dots img,
.back-to-top-button {width:24px;display:none}
a.no-dots:hover {border:none}
.by-title-alpha .grid-1 a:hover {border:none}
/*END styling for indexes and databases page (/indexes)*/

/*START connect 'buttons' on database description pages */
.restricted_note {overflow:auto}
#connect {
  float: left;
  padding: 0 2%
}
#connect_button{
  background: #36404e;
  border-color: #1859B7;
  text-shadow: 0 1px 1px #001B38;
  color: #FFF;
  position: relative;
  font-size: 14px;
  margin-top: 0;
  border-radius: 5px;
  font-family: 'Montserrat','Segoe UI','Century Gothic',Verdana,sans-serif;
  font-weight: 400;
  padding: 5px 10px
}
#connect_button:hover {border:none}
/*END connect 'buttons' on database description pages */

textarea,
select,
input[type="date"],
input[type="datetime"],
input[type="datetime-local"],
input[type="email"],
input[type="month"],
input[type="number"],
input[type="password"],
input[type="search"],
input[type="tel"],
input[type="text"],
input[type="time"],
input[type="url"],
input[type="week"] {
  font-family: 'Quattrocento Sans', Candara, 'Gill Sans', Optima, Helvetica, sans-serif;
  font-size:100%
}

/*START news archive page*/
.news-archive .item-list ul {margin:24px}
/*END news archive page*/

/*START standard button styling for a form submit button*/
#go,
#form-submit-button,
#gs_search_button,
.RUL_D7-user-login-form-wrapper #edit-actions #edit-submit,
.contact-form #edit-actions #edit-submit,
#btnSubmitReserves1 {
  background: #36404e;
  border-color: #1859B7;
  text-shadow: 0 1px 1px #001B38;
  color: #FFF;
  position: relative;
  font-size: 14px;
  margin-top:0;
  border-radius:5px;
  font-family:'Montserrat','Segoe UI','Century Gothic',Verdana,sans-serif;
  font-weight:400;
  padding:5px 10px
}
/*END standard button styling for a form submit button*/

/*START explicitly state font-size and line-heights for menus to prevent them from spilling over when zoomed */
#block-menu-menu-top-header-right-menu .menu,
#block-system-main-menu .menu,
#hours-account-aal {font-size:16px;line-height:1.5em}
/*END explicitly state font-size and line-heights for menus to prevent them from spilling over when zoomed */

/*START styling for the Encyclopedia main page (/encyclopedia)*/
.encyclopedia-list {column-count:2;width:590px}
.encyclopedia-list li {list-style:disc}
/*END styling for the Encyclopedia main page (/encyclopedia)*/

/*START fix for Module filter module - admin only*/
#module-filter-modules table {position:relative !important}
/*END fix for Module filter module - admin only*/

/*accessible color for the required asterisk */
.marker, .form-required {color:#cc0033}

/*give the Core/Related/Supplementary headings in subject databases pages a white background*/
.crs {background:#fff}

/*START back-to-top button (appears on the bottom of the page)*/
#back-to-top,
#back-to-top1 {
  bottom: 0;
  cursor: pointer;
  position: fixed;
  width: 40px;
  z-index: 500;
  margin-left:960px
}
#back-to-top1 {
  margin-left:1040px;
  width: 48px
}
.back-to-top__arrow {
  /* border-left: 39px solid transparent; */
  /* border-right: 39px solid transparent; */
  /* border-bottom: 10px solid #cc0033; */
  /* height: 0; */
  /* width: 0; */

  /* width:50px; */
  /* background:#fff; */

  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-bottom: 20px solid #fff;
}
.back-to-top1__arrow {
  border-left: 24px solid transparent;
  border-right: 24px solid transparent;
  border-bottom: 24px solid #000;
}
.back-to-top1__arrow-inner {
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-bottom: 20px solid #fff;
  position: relative;
  top: 24px;
  left: -20px;
  width:0
}
.back-to-top__arrow img {
  width: 24px;
  /* margin: 0 12px; */
  /* background: #fff; */

  margin-left: -12px;
  margin-bottom: -20px;
}
.back-to-top__text,
.back-to-top1__text {
  background-color: #fff;
  color:#000;
  height: 30px;
  /* padding-top:5px; */
  /* line-height: 28px; */
  text-align: center;
  text-transform: uppercase
}
.back-to-top1__text {
  margin:0 4px;
  font-size:1rem;
  line-height:1rem;
  font-family:'Montserrat', 'Segoe UI', 'Century Gothic', Verdana, sans-serif
}

#back-to-top1 {
  margin-left:960px;
  width: 50px
}
.back-to-top1__arrow {
  border-left: 25px solid transparent;
  border-right: 25px solid transparent;
  border-bottom: 25px solid #fff
}
.back-to-top1__arrow-inner {
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-bottom: 20px solid #fff;
  position: relative;
  top: 20px;
  left: -20px;
  width:0
}
.back-to-top2__arrow-inner {
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  border-bottom: 15px solid #000;
  position: relative;
  top: 10px;
  left: -15px;
  width: 0;
}
.back-to-top3__arrow-inner {
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid #fff;
  position: relative;
  top: 15px;
  left: -10px;
  width: 0;
}
.back-to-top1__text {margin:0}
/*END back-to-top button (appears on the bottom of the page)*/

/*START accessibility modal*/
.accessibility-information .ui-widget-header {
  border:none;
  background:none
}
.accessibility-information .ui-dialog-title {
  font-family:'Montserrat', 'Segoe UI', 'Century Gothic', Verdana, sans-serif;
  font-size:1rem
}
.accessibility-information #accessibility {
  font-family: 'Quattrocento Sans', Candara, 'Gill Sans', Optima, Helvetica, sans-serif;
  font-size:1rem
}
.accessibility-information #accessibility a:link,
.accessibility-information #accessibility a:visited {color:#0764cc}
.accessibility-information .ui-dialog-titlebar-close{display: none}
.accessibility-information .ui-dialog-buttonpane {
  border:none;
  margin:0
}
.accessibility-information .ui-dialog-buttonpane .ui-button-text{
  background: #36404e;
  border-color: #1859B7;
  text-shadow: 0 1px 1px #001B38;
  color: #FFF;
  /* width: 7em; */
  /* height: 2.5em; */
  position: relative;
  font-family: 'Quattrocento Sans', Candara, 'Gill Sans', Optima, Helvetica, sans-serif;
  font-size: 1rem
}
/*END accessibility modal*/

/*START Mini-sites (book) styling*/
.book-navigation {display:none}
.block-book-navigation {margin-top:5px}
#block-book-navigation a:link {
  font-family:'Quattrocento Sans', Candara, 'Gill Sans', Optima, Helvetica, sans-serif;
  font-size:1rem;
  line-height:1.5rem;
  border:none
}
#block-book-navigation a:hover {border-bottom:1px solid #0754cc}
#block-book-navigation ul.menu > li.expanded > a.active-trail:hover {margin-bottom:-1px}
#block-book-navigation ul.menu > li.expanded > a.active-trail.active:hover {margin-bottom:0px}
#block-book-navigation a.active:hover {border:none}
#block-book-navigation ul.menu li {
  list-style:none;
  margin:0.2em 0px 0.5em 5px;
  padding:0
}
#block-book-navigation ul.menu li ul.menu li.first {margin-top:0.5em}
#block-book-navigation ul.menu li.active-trail {margin-left:0}
/*add arrow down for collapsed links*/
#block-book-navigation ul.menu li.collapsed a::after {
  content:"";
  border: solid #0754cc;
  border-width: 0 2px 2px 0;
  display: inline-block;
  padding: 3px;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  float:right;
  margin-top:5px;
  margin-right:10px
}
/*add arrow up for expanded links*/
#block-book-navigation ul.menu li.expanded > a.active-trail.active::after {
  content:"";
  border: solid #fff;
  border-width: 0 2px 2px 0;
  display: inline-block;
  padding: 3px;
  transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
  float:right;
  margin-top:10px;
  margin-right:5px
}
#block-book-navigation ul.menu li.expanded > a.active-trail::after {
  content:"";
  border: solid #0754cc;
  border-width: 0 2px 2px 0;
  display: inline-block;
  padding: 3px;
  transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
  float:right;
  margin-top:10px;
  margin-right:5px
}
#block-book-navigation ul.menu li ul.menu {margin-left:-5px}
#block-book-navigation ul.menu li ul.menu li {margin-left:25px;padding-right:0}
#block-book-navigation ul.menu li ul.menu li a.active-trail.active {
  padding-left: 20px;
  margin-left: -20px
}
#block-book-navigation ul.menu li ul.menu li ul.menu li a.active-trail.active {
  padding-left: 40px;
  margin-left: -40px
}
#block-book-navigation h2.block-title {
  padding: 5px;
  padding-bottom: 0.2em
}
#block-book-navigation .block-title .book-title.active {line-height:1.5rem}
#block-book-navigation .block-title .book-title.active,
#block-book-navigation .active-trail.active {
  background:#285e71;
  color:#fff;
  display:block;
  padding:5px;
  margin-left:0
}
#block-book-navigation .block-title .book-title.active {margin-left:-5px}
#block-book-navigation .expanded.active-trail.active {margin-left:5px}
#block-book-navigation a.active-trail {
  margin-left:5px;
  display:block
}
#block-book-navigation li.expanded li.expanded a.active-trail {margin:0}
/*END Mini-sites (book) styling*/