/**START SEARCH TABS STYLING**/
#tContainer {width:100%}
.legacy_catalog_link {display:block}
.con {width:580px}
/**END SEARCH TABS STYLING**/

/**START links blocks**/
h2.block-title {border:none;padding:0.2em 0.4em 0.2em 0em;font-weight:400}
#block-nodeblock-7896 {margin-top:48px}
.node ol, .node ul {padding:0}
.block-nodeblock .content ul li {
  padding:0;
  border:none;
  margin-bottom:3px
}
/**END links blocks**/

/**START news block**/
.views-field-field-front-page-news-image .field-content a img,
.views-field-field-featured-collection-image img {
  width:260px;
  height:200px
}
.views-slideshow-cycle-main-frame-row .views-field-title {margin-bottom:20px}
#views_slideshow_cycle_teaser_section_alternate_front_page_news-block_10_1 {height:460px !important}
#views_slideshow_controls_text_previous_alternate_front_page_news-block_10_1 a,
#views_slideshow_controls_text_next_alternate_front_page_news-block_10_1 a {
  background: url(../images/clearpix.gif);
  height: 150px;
  width: 50px;
  position:absolute;
  z-index: 10;
  white-space:nowrap;
  text-indent: -9999px;
  text-transform: uppercase;
}
#views_slideshow_controls_text_previous_alternate_front_page_news-block_10_1 a:hover,
#views_slideshow_controls_text_next_alternate_front_page_news-block_10_1 a:hover {border:none}
#views_slideshow_controls_text_previous_alternate_front_page_news-block_10_1 a {
  background-position: 0 50px;
  background-image: url(../images/ArrowLeft1.svg);
  background-repeat: no-repeat;
  width:40px
}
#views_slideshow_controls_text_next_alternate_front_page_news-block_10_1 a  {
  background-position: 0 50px;
  background-image: url(../images/ArrowRight1.svg);
  background-repeat: no-repeat;
  width:40px
}
#views_slideshow_controls_text_previous_alternate_front_page_news-block_10_1  {
  float: left;
  width: auto;
  position: absolute;
  top: -410px;
  left:-250px;
}
#views_slideshow_controls_text_next_alternate_front_page_news-block_10_1 {
  float: left;
  width: auto;
  position: absolute;
  top: -410px;
  right: 30px;
}
#views_slideshow_controls_text_pause_alternate_front_page_news-block_10_1 {display:none}
#hs-news {width:260px;margin-right:50px}
/** END news block **/

/**START Dr. MERL block **/
#news-dr-merl {margin-top:40px}
#dr-merl h2.block-title,
#region-front-page-bottom-center h2.block-title{font-weight:700;font-size:16px}
#dr-merl-date,
#dr-merl-title {margin-bottom:20px}
#dr-merl-titles li {
  list-style:none;
  margin-bottom:10px
}
/**END Dr. MERL block **/

.view-id-library_center h2.block-title {
  font-size: 16px;
  font-weight: 700;
  margin-bottom:0
}