/**START SEARCH TABS STYLING**/
#tContainer {width:100%}
.legacy_catalog_link {display:block}
.con {width:580px}
/**END SEARCH TABS STYLING**/

/**START links blocks**/
h2.block-title {border:none;padding:0.2em 0.4em 0.2em 0em;font-weight:400}
#block-nodeblock-17008,
#block-nodeblock-7896 {margin-top:48px}
.node ol, .node ul {padding:0}
.block-nodeblock .content ul li {
  padding:0;
  border:none;
  margin-bottom:3px
}
/**END links blocks**/

/**START news block**/
.views-field-field-front-page-news-image .field-content a img,
.views-field-field-featured-collection-image img {
  width:260px;
  height:200px
}
.views-slideshow-cycle-main-frame-row .views-field-title {margin-bottom:20px}
#views_slideshow_controls_text_previous_alternate_front_page_news-block_10_1 a,
#views_slideshow_controls_text_next_alternate_front_page_news-block_10_1 a {
  background: url(../images/clearpix.gif);
  height: 150px;
  width: 50px;
  position:absolute;
  z-index: 10;
  white-space:nowrap;
  text-indent: -9999px;
  text-transform: uppercase;
}
#views_slideshow_controls_text_previous_alternate_front_page_news-block_10_1 a:hover,
#views_slideshow_controls_text_next_alternate_front_page_news-block_10_1 a:hover {border:none}
#views_slideshow_controls_text_previous_alternate_front_page_news-block_10_1 a {
  /*background: url(../images/arrow-prev.png) no-repeat 0px 50%;*/
  background-image:url("../images/slideshow_controls.png");
  background-position:-10px 50px;
  background-repeat:no-repeat;
}
#views_slideshow_controls_text_next_alternate_front_page_news-block_10_1 a  {
  /*background: url(../images/arrow-next.png) no-repeat 100% 50%;*/
  background-image:url("../images/slideshow_controls.png");
  background-position:-60px 50px;
  background-repeat:no-repeat;
}
#views_slideshow_controls_text_previous_alternate_front_page_news-block_10_1  {
  float: left;
  width: auto;
  position: absolute;
  top:-380px;
  left:-250px;
}
#views_slideshow_controls_text_next_alternate_front_page_news-block_10_1 {
  float: left;
  width: auto;
  position: absolute;
  top: -380px;
  right: 40px;
}
#views_slideshow_controls_text_pause_alternate_front_page_news-block_10_1 {display:none}
/** END news block **/

/**START Dr. MERL block **/
#news-dr-merl {margin-top:40px}
#dr-merl h2.block-title, 
#region-front-page-bottom-center h2.block-title{font-weight:700;font-size:16px}
/* #dr-merl-img {margin-bottom:104px} */
#dr-merl-date, 
#dr-merl-title {margin-bottom:20px}
#dr-merl-titles li {
  list-style:none;
  margin-bottom:10px
}
/**END Dr. MERL block **/

/* #region-front-page-bottom-left, */
/* #region-front-page-bottom-center {margin-top:-140px} */
.view-id-library_center h2.block-title {
  font-size: 16px;
  font-weight: 700;
  margin-bottom:0
}
