/**BASE STYLES FOR THE LIBRARY FRONT PAGES**/
/*reorder the Library name to the top for mobile*/
#region-content{order:0}
/*make sure the bottom region stays at the bottom on mobile!*/
#region-front-page-bottom-center {order:100}
.view-id-library_center h2.block-title {padding-left:0}
#tContainer,
#sContainer {width:100%}
.views-field-field-library-image {width:280px}
.views-field-field-library-image img {width:280px}
#block-views-library-center-block-1 {margin-top:4px}
.views-field-field-library-spotlight-caption- {
  width:300px;
  height:4em;
  font-style:italic;
  color:#666;
  background-color:#f2f2f2;
  float:left;
  font-size: 0.9230769230769231em;  /* 12px --> 12 ÷ 13 = 0.9230769230769231 */
  line-height: 1.5em; /* 18px --> 18 ÷ 12 = 1.5 */
  padding:0.5em;
}
/* above up from width 290 and height of 3   jan 22 2018 */
.views-field.views-field-field-library-spotlight-image img {
    min-width: 315px !important;
}

.panel-2col .panel-col-first {width:200px}
.panel-2col .panel-col-last {width:330px}

.node ol, .node ul {
    padding-left: 0;
    margin:0;
    padding-top:0;
}
.block-nodeblock .content ul li {list-style: none outside none}
.block-nodeblock .content ul li ul {margin-left:1.5em}
.block-nodeblock .content ul li ul li {border:none}

#library_info_col1 {float:left}
#map_link {
  display: block;
  float: right;
}
#block-views-library-center-block-1 h2.block-title,
#block-views-library-center-block-2 h2.block-title,
#block-views-library-center-block-3 h2.block-title {
  color:#000;
  border:none;
  background:none;
  margin-bottom:0
}

.views-field-field-google-maps-link {
  padding:0.5em 0.4em 0;
  min-height:42px;
}
.views-field-php {
  padding:0 0.4em 0.5em;
  clear:both;
}

.views-slideshow-cycle-main-frame-row-item .views-field-php {padding:0}

/* for splitting left col into 2 col */
div.libPageLeftCol {
  width:250px;
  float:left;
  padding-right:10px
}
div.libPageRightCol {
  width:270px;
  float:left;
  padding-left:10px
}
h2.block-title,
div.libPageLeftCol h2,
div.libPageRightCol h2 {
  border: none;
  background: none;
  overflow: auto;
  padding: 0.2em 0.4em 0.2em 0;
  font-size:18px;
  margin:0;
  color:#222;
  font-weight:700;
  font-size:16px;
  margin-bottom:1em
}
h2.block-title .main-title {    
  font-weight: 700;
  font-size: 16px
}
#art_aal {float:left}
.art_aal_caption {
  float:left;
  width:254px;
}
.art_aal_caption.border {
  border-top:1px dashed #cccccc;
  padding-top:0.5em;
}

/*START SCC page (/scc) */
/* top left block - prose */
#block-nodeblock-2404 ul li {
  border:none;
  list-style-type:disc;
  margin-left:2em;
  padding:0
}
/*END SCC page (/scc) */

/*START Shared User Services front page (/shared-user-services) */
.page-node-7653 .field-items .field-item {margin:0.5em}
.page-node-7653 .field-items .field-item ul {padding:0}
.page-node-7653 .field-items .field-item > ul > li {padding:1em 0}
.page-node-7653 .field-items .field-item > ul > li:first-child{padding-top:0}
.page-node-7653 #node-7656 ul li {padding:3px 0}
/*END Shared User Services front page (/shared-user-services) */

/*START DR MERL block on /rwj */
#dr-merl-date {display:none}
#dr-merl-img {float:left}
#dr-merl-date,
#dr-merl-title {margin-bottom:20px}
#dr-merl-title {clear:both}
#dr-merl-titles li {
  list-style:none;
  margin-bottom:10px
}
/*END DR MERL block on /rwj */

/*START ROBESON page (/robeson) */
.robeson {margin-bottom:30px !important}
#robeson-fac-services-news ul li,
#visit-us-robeson li,
#contact-robeson li {list-style:none}
#robeson-twitter {border:1px solid #ccc}
#robeson-news {width:260px}
.views-slideshow-cycle-main-frame-row .views-field-title {margin-bottom:20px}
#views_slideshow_cycle_teaser_section_alternate_front_page_news-block_11_1 {height:460px !important}
#views_slideshow_controls_text_previous_alternate_front_page_news-block_11_1 a,
#views_slideshow_controls_text_next_alternate_front_page_news-block_11_1 a {
  background: url(../images/clearpix.gif);
  height: 150px;
  width: 50px;
  position:absolute;
  z-index: 10;
  white-space:nowrap;
  text-indent: -9999px;
  text-transform: uppercase;
}
#views_slideshow_controls_text_previous_alternate_front_page_news-block_11_1 a:hover,
#views_slideshow_controls_text_next_alternate_front_page_news-block_11_1 a:hover {border:none}
#views_slideshow_controls_text_previous_alternate_front_page_news-block_11_1 a {
  background-position: 0 50px;
  background-image: url(../images/ArrowLeft1.svg);
  background-repeat: no-repeat;
  width:40px
}
#views_slideshow_controls_text_next_alternate_front_page_news-block_11_1 a  {
  background-position: 0 50px;
  background-image: url(../images/ArrowRight1.svg);
  background-repeat: no-repeat;
  width:40px
}
#views_slideshow_controls_text_previous_alternate_front_page_news-block_11_1  {
  float: left;
  width: auto;
  position: absolute;
  top:-410px;
  left:-250px;
}
#views_slideshow_controls_text_next_alternate_front_page_news-block_11_1 {
  float: left;
  width: auto;
  position: absolute;
  top: -410px;
  right: 30px;
}
#views_slideshow_controls_text_pause_alternate_front_page_news-block_11_1 {display:none}
/*END ROBESON page (/robeson) */

/**START hide the content region**/
#region-content {min-height:0 !important}
#block-system-main {margin-bottom:0}
/**END hide the content region**/                                  