/* styling for the mini-search tabs */

#region-mini-searchtabs {
  margin-left:20px;
  margin-right:0
}
.region-mini-searchtabs-inner {padding-top:7px}
#tContainer {
  font-family: 'Quattrocento Sans', Candara, 'Gill Sans', Optima, Helvetica, sans-serif;
  padding-top: 5px;
  border-top-left-radius:3px;
  border-top-right-radius:3px;
  overflow:hidden
}
#tContainer ul  {
  list-style-type:none;
  text-align:left;
  margin:0;
  padding:0;
  white-space:nowrap;
  font-size:11px;
}
#tContainer li {
  background:#ecf0f4;
  border:1px solid transparent;
  border-bottom:none;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  color: #333333;
  cursor: pointer;
  display: inline;
  position: relative;
}
#tContainer li.picked {
  background-color:#fcfcfc;
  border-bottom:none;
  border-top-right-radius:3px;
  border-top-left-radius:3px;
}
#tContainer li.art {
  margin-left:0;
  padding:7px 10px 3px 14px;
}
#tContainer li.cat,
#tContainer li.jou {padding:7px 10px 3px}
#tContainer li.reserves {padding:7px 8px 3px 9px}
#tContainer li.cat.picked {padding: 7px 10px 3px}
#tContainer li.reserves.picked {border-right: 1px solid transparent}
#sContainer {
  height:60px;
  border-top:1px solid transparent;
  background-color:#fcfcfc;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
}
.con  {
  margin: 5px 0;
  display:none;
  background:#fcfcfc;
  border:0px dotted #d6d6d6;
}
.con.art {display:block}
.input,
.input[type="text"] {
  font-family: 'Quattrocento Sans', Candara, 'Gill Sans', Optima, Helvetica, sans-serif;
  font-size:11px;
  width:295px;
  margin-right:5px;
}
.input.straight {
  color:#000000;
  font-style:normal;
}
.content {
  margin:0;
  width:100%;
}
.content.cat {
  margin-top:0;
  font-weight:bold;
}
.content.art {
  margin-top:0;
  font-weight:bold;
}
.content.jou {
  margin-top:0;
  font-weight:bold;
}
.content.reserves {
  margin-top:0;
  font-weight:bold;
}
.advanced {
  font-family: 'Quattrocento Sans', Candara, 'Gill Sans', Optima, Helvetica, sans-serif;
  font-size:11px;
  font-weight:normal;
  float:right;
}
.advanced a {font-size:13px}
.art .advanced,
.cat .advanced,
.jou .advanced,
.media .advanced {margin: -20px 14px 0 0}

.shiny.large  {
  background: #36404e;
  text-shadow:none;
  border-radius: 3px;
  font-size: 0.6875em;
  font-family: 'Quattrocento Sans', Candara, 'Gill Sans', Optima, Helvetica, sans-serif;
  color:#fff;
  padding: 2px 5px;
  font-size:11px;
  border:none;
  font-weight:400
}
.shiny.small  {
  font-size: 0.6875em;
  background: url(../images/searchtabs/shiny-bg.png) repeat-x;
}
.what {
  position:absolute;
  margin:2em 0 0 390px;
}
.what-text  {
  font-size: 0.6875em;
  font-weight:normal;
  text-decoration:underline;
  cursor:pointer;
}
.what-icon-q  {
  width:35px;
  height:35px;
  background-image:url(../images/searchtabs/questionmark.png);
  background-repeat:no-repeat;
  background-position:0px 0px;
  cursor:pointer;
}
.what.lower {
  margin-top:165px;
}
.what-content {
  text-align:left;
  font-size: 0.6875em;
  font-weight:normal;
  border:1px solid #c1c1c7;
  position:absolute;
  background-color:#ffffff;
  margin:0 0 0 -400px;
  padding:5px;
  display:none;
  z-index:10;
}
.what-content P {width:400px}
.what-icon-q{display:none}
.what-content{margin: 45px 0 5px -372px;}
.hint {
  text-align:left;
  font-size: 0.6875em;
  font-weight:normal;
  border:1px solid #c1c1c7;
  position:absolute;
  background-color:#f2f2f2;
  padding:5px;
  display:none;
  z-index:10;
  margin: 10px 0 0 5px;
}
.hint.books {margin-left: 60px}
.hint.journals {margin-left: 115px}
.hint.media {margin-left:75px}
.hint.reserves {margin-left: 225px}
.what-content P {width:330px}
#dbgroup,
#srchfield1,
#srchfield2,
#mediasearch,
#reserve-filter {
  font-size:11px;
  font-family: 'Quattrocento Sans', Candara, 'Gill Sans', Optima, Helvetica, sans-serif;
  color:#222;
  width:150px;
}
.search-input-top,
.search-input-bottom {
  text-align:left;
  margin-left:14px;
}
label[for=ebscohostsearchtext],
label[for=dbgroup],
label[for=inputCat],
label[for=srchfield1],
label[for=srchfield2],
label[for=inputJournals],
label[for=inputReserves],
label[for=reserve-filter] {
  display:none;
  visibility:hidden;
}
.ui-menu .ui-menu-item a{
  font-family: 'Quattrocento Sans', Candara, 'Gill Sans', Optima, Helvetica, sans-serif;
  font-size: 11px
}
::-webkit-input-placeholder{color:#222}
:-moz-placeholder{color:#222;opacity:1}
::-moz-placeholder{color:#222;opacity:1}
:-ms-input-placeholder{color:#222}

@media (-webkit-min-device-pixel-ratio: 0) {
  #dbgroup {
    -webkit-appearance:menulist;
    background-image:none;
    padding:0
  }
}