/* styling for the mini-quicksearch box */
#region-mini-searchtabs {
  margin-left:0;
  margin-right:0
}
.region-mini-searchtabs-inner {padding-top:7px}
.region-mini-searchtabs .content {background:#fff}
#qs-container {margin-top:0px}
#search-box {
  background:#fff;
  max-height:60px
}
#primoQueryTemp {
  height:8vw;
  float:left;
  padding: 0 10px 0 20px;
  margin: 0;
  border: none;
  box-shadow: none !important;
  width:85vw;
  border-radius:none !important
}
::-webkit-input-placeholder{color:#222}
:-moz-placeholder{color:#222;opacity:1}
::-moz-placeholder{color:#222;opacity:1}
:-ms-input-placeholder{color:#222}
#scope-suggestion {
  display:none;
  background:#fff;
  width:100vw;
  min-height:70px;
  border:1px solid #000;
  border-top:none;
  margin-top:8vw;
  margin-left:-1px;
  margin-bottom:-70px;
  position:absolute;
  z-index:1
}
#scope-suggestion div {
  clear:both;
  margin:0px 10px 10px;
  word-wrap:break-word
}
#scope-suggestion .search-scopes {
  color:#cc0033;
  font-style:italic;
  font-weight:700
}
#scope-suggestion div img {
  width:24px;
  height:24px;
  margin:0 5px 0
}
#scope-suggestion div:hover{
  cursor:pointer;
  background:#aaa
}
img#go {
  width: 8vw;
  height: 7.3vw;
  border: 0;
  background-color: #cc0033;
  border-radius: 0 !important;
  padding: 0 5px 3px 0;
  float:right
}
img#go:hover {cursor:pointer}

/*narrow*/
@media all and (min-width: 740px) and (min-device-width: 740px), (max-device-width: 800px) and (min-width: 740px) and (orientation:landscape) {  
  .region-mini-searchtabs .content {background:none}
  #qs-container {
    margin-top:10px;
    float:right
  }
  #primoQueryTemp {
    height:auto;
    padding: 5px 10px 6px;
    margin: 0;
    border: none;
    float:none;
    box-shadow: none !important;
    width:190px;
    border-radius:2px 0 0 2px
  }
  #scope-suggestion {
    width:220px;
    margin-top:0
  }
  img#go {
    width: 27px;
    height: 26px;
    border: 0;
    background-color: #cc0033;
    border-radius: 0 2px 2px 0;
    float: right;
    padding: 0 3px 3px 0
  }
  #region-mini-searchtabs {
    margin-left:20px;
    margin-right:0
  }
}

/*normal*/
@media all and (min-width: 980px) and (min-device-width: 980px), all and (max-device-width: 1024px) and (min-width: 1024px) and (orientation:landscape) {
  #primoQueryTemp {width:280px}
  #scope-suggestion {width:310px}
}