.block-news-block-2,
.block-news-block-3,
.block-b67c2ee25d13bf60ed3d864be599ab88,
.block-03543ecf3c873e9e65378a589dbecb9b,
#block-views-b67c2ee25d13bf60ed3d864be599ab88,
#block-views-events-block-2 {
  margin-bottom:1.5em;
}

#block-views-news-block-2 .content,
#block-views-news-block-3 .content,
#block-views-b67c2ee25d13bf60ed3d864be599ab88 .content,
#block-views-03543ecf3c873e9e65378a589dbecb9b .content,
#block-views-events-block-2 .content{
  border:1px solid #e8e8e8;
  border-top:none;
  padding:0.5em;
  width:auto;
}
#block-views-news-block-2 .views-row-even,
#block-views-news-block-3 .views-row-even,
#block-views-b67c2ee25d13bf60ed3d864be599ab88 .views-row-even,
#block-views-03543ecf3c873e9e65378a589dbecb9b .views-row-even,
#block-views-events-block-2 .views-row-even {
  margin:1em 0;
}
#block-views-news-block-2 a,
#block-views-news-block-3 a
#block-views-b67c2ee25d13bf60ed3d864be599ab88 a,
#block-views-03543ecf3c873e9e65378a589dbecb9b a,
#block-views-events-block-2 a {
  color: #0023C6;
  text-decoration:none;
}
#block-views-news-block-2 a:hover,
#block-views-b67c2ee25d13bf60ed3d864be599ab88 a:hover,
#block-views-events-block-2 a:hover{
  color:#0062A0;
}
.field-name-field-last-updated {
  margin:1.5em 0;
}
.field-name-field-image,
.field-name-field-news-image,
.field-name-field-image-collection {
  width:300px;
  float:right;
  margin:0 0 0 1.5em;
  background-color:#e4e4e4;
}
.field-name-field-image-collection {background-color:#fff;}
.field-item.odd .field-collection-item-field-image-collection {margin:1.5em 0}
.field-name-field-image img,
.field-name-field-news-image img {
}
.field-name-field-image .field-item.odd,
.field-name-field-news-image .field-item.odd {
  margin-top:1em;
}
.field-name-field-image-caption,
.field-name-field-news-image-caption {
  width:287px;
  float:right;
  background-color:#f2f2f2;
  padding:.5em;
  font-style:italic;
  color:#666666;
}
.field-name-field-image-caption p,
.field-name-field-news-image-caption p {
  margin-bottom:0;
}
.field-item img {
  display:block;
  margin:0 auto;
}
.field-name-field-image-caption .field-items .field-item.odd,
.field-name-field-news-image-caption .field-items .field-item.odd {
  margin-top:1em;
}

/*START styling for the Event calendar link in the upcoming events block*/
#block-views-events-block-2 .more-link a {
  margin-top: 5px;
  float: right;
  padding: 2px 20px;
  text-align: right;
  font-weight: 400;
  font-family: "Lucidia Console",Monaco,monospace;
  font-variant: small-caps;
  font-size: 0.9230769230769231em;
  line-height: 1.5em;
  background-image: url("../images/question_mark_arrow.png");
  background-position: 115px -52.5px;
  background-repeat: no-repeat;
}
/*END styling for the Event calendar link in the upcoming events block*/