/* This file will hold styles that are loaded using the same media query as the wide grid. */

#zone-top-menu {margin-top:0}
/* START Hours/My Account/Ask US menu*/
#region-right-menu .content {
  width:auto;
  background:linear-gradient(90deg, transparent 81%, #d83d0e 81%);
  height:38px
}
#region-right-menu li:nth-child(2) {padding: 7px 5px 7px 13px}
#region-right-menu li:last-child {padding: 6px 15px 8px}
}
/* END Hours/My Account/Ask US menu*/

/*override block flexing*/
#zone-content {display:block !important}