/*This file contains styles for the user profile pages (/profile/<firstname>_<lastname>))*/
#card_wrapper {border-bottom:1px solid #000}
#visitingcard {
  /* border: 1px dotted #CCCCCC; */
  border-top:none;
  border-collapse: separate;
  border-spacing: 2px;
  /* background-image: url('../images/greybk_seal.png'); */
  /* background-position: 207px bottom; */
  /* background-repeat:no-repeat; */
  /* background-color:#e6e6ed; */
  /* margin-bottom:1.5em; */
  padding:10px 0;
  overflow:auto;
}
.visitingcard-wrapper {
  /* overflow-x:auto; */
  /* overflow-y:hidden; */  
  float:left;
  clear:left;
  /* background-color:#e6e6ed; */
  overflow:auto
}
#function-title, #sub-dept, #dept {
  /* padding:0 10px; */
  margin-bottom:0;
  /* background:#e6e6ed */
  font-weight:400;
  font-size:22px;
  letter-spacing: 0;
  font-family:'Montserrat', 'Segoe UI', 'Century Gothic', Verdana, sans-serif;
  color:#222;
  line-height:normal;
}
#profile_pic {
  /* background:#e6e6ed; */
  /* margin-right:10px; */
  float:right
}
.user-picture {}
.user-picture img {display:block}
.no_profile_pic {width:375px}
#name-wrapper {
  /* background-color:#e6e6ed; */
  /* font-weight:bold; */
  /* border:1px dotted #ccc; */
  border-bottom:1px solid #000;
  overflow:auto;
  /* font-size:1.2em; /*16 px*/
  padding:0.5em 0;
  /* color:#555; */
  position:relative
}
/* #name-wrapper a {color:#555} */
#name {
  float:left;
  margin-bottom:0
}
#orcid,
#researcherid {
  clear:both;
  position:initial;
  bottom:0.5em;
  right:0px;
  font-size:1.3rem
}
#info {float:left}
#resume, #website {}
.address_container {
  font-size:1rem;
  clear:left;
  overflow:auto
}
.address_container svg {margin-right:15px}
.lib_address {margin:0}
.lib_address_right{float:left}
/* .field, #function-title, #sub-dept, #dept, .lib_address, .phone, #email {padding-left:10px} */
#function-title, #sub-dept, #dept, .lib_address, .phone, #email, #resume, #website {float:left}
#sub-dept,#dept, .phone {clear:left}
.phone, #email, .lib_address, #website, #resume {margin-top:15px}
#email_resume_website_container {clear: both;}
.emptydiv {padding: 7px;clear:both;}
/* .phone {font-weight: bold} */
/* #email {font-style: italic; } */
#profile_field_1, #publications, #experience, .extra_fields {/*border:1px solid #ccc;*/clear:both;margin-bottom:1.5em;padding:0.5em 0;}
#profile_field_1 {border:none;margin-bottom:0}
.profile_field_left {float:left !important}
.profile_field_right {float:right !important}
#publications, 
#experience, 
.extra_fields {
  border-top:none;
  overflow-wrap:break-word;
  font-family:'Quattrocento Sans', Candara, 'Gill Sans', Optima, Helvetica, sans-serif !important
}
#profile_field_1 ul,
#publications ul,
#experience ul,
.extra_fields ul,
#profile_field_1 ol,
#publications ol,
#experience ol,
.extra_fields ol {padding-left:1em}
#resume_website_container {}
#image_social_wrapper {
  float:left;
  clear:both;
  margin-top:15px;
}

#resume, #website, #fb, #twtr, #linkedin {clear:both}
#social ul {margin-bottom:0}
#social ul li {
  display: inline;
  list-style-type: none
}
#social a {margin-right:10px;border:none}
#social img {width:24px; height:24px}
/*#social #resume img {width:auto; height:auto}*/
#card-right {display:none}
.address_container_left {float:left; /* width:240px */}
.address_container_right {float:left}
#profile_blocks {
  width:100%;
  /* width:960px; */
  /* margin-left:-10px; */
  float:left;
  display: inline;
}
#card-left {float:left;width:150px;height:200px;margin-left:10px;}
#card-right {float:right}

#visitingcard-wrapper, #image_social_wrapper {position:relative}
#image_social_wrapper {z-index:1}
.tabs.primary.clearfix {width:185px}
/*narrow*/
@media all and (min-width: 740px) and (min-device-width: 740px), (max-device-width: 800px) and (min-width: 740px) and (orientation:landscape) {
  #image_social_wrapper {
    float:right;
    clear:both;
    margin-top:-25px;
    z-index:1
  }
  #orcid,
  #researcherid {clear:none;position:absolute}
  #visitingcard {width:100%}
  #card-right {display:block}
}